name: calendar_kit
description: A customizable Flutter calendar package with support for single date and date range selection. Features include flexible styling, date constraints and navigation.
version: 0.0.2
homepage: https://github.com/mugsaucek/calendar_kit
repository: https://github.com/mugsaucek/calendar_kit
issue_tracker: https://github.com/mugsaucek/calendar_kit/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

topics:
   - calendar
   - date-picker
   - date-range
   - widgets
